<head lang="zh-CN">
  <%= htmlWebpackPlugin.options.front_config %>
  <!--configArea--><!--endOfConfigArea-->
  <%= htmlWebpackPlugin.options.loading.css %>
</head>
<body>
    <div id="root"/>
</body>
