.logo {
  margin: 358px auto 0;
  width: 256px;
  height: 256px;
}
.text-title {
  margin: 16px 0;
  font-size: 34px;
  font-weight: 400;
  color: #747a81;
  line-height: 48px;
  background: url(../assets/entry/noComplete.png);
}
